* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:20px;
}
html {
    background-color: rgb(233, 91, 91);
}

#header {
    background-color: grey;
    border: 3px solid black;
    text-align: center;
}
.headerelement{
    display: inline;
    vertical-align: bottom;
}
#headerimage {
    height:40px;
    width:40px;
    display: inline;
}
#headertitle {
    display: inline;
    font-family:Ubuntu;
    font-size: 28px;
    font-weight:bold;
    color: white;
    padding: 0px 40px 0px 40px;
}
#headertitle:hover {
    color: aquamarine;
}
#headernav li {
    display: inline;
    font-family:Ubuntu;
    font-size: 23px;
    padding: 2px 7px 2px 7px;
}
.nav {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav:hover{
    color: chartreuse;
}
.login {
    height: 30px;
    width: 70px;
    margin: 0 0 0 5px;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    font-family: Ubuntu;
}
.login:hover{
    color: chartreuse;
    background-color: rgb(29, 27, 27);
}
.para {
    font-family: consolas;
    color:rgb(255, 213, 213);
    padding: 30px 20px 0px 20px;
}